body {
    background-image: url(../images/fundo-nao-autorizado.svg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;

}

.nao_autorizado__principal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}

.autorizado_img {
    width: 35%;
}

#conteiner__inicio {
    text-align: center;
}

.autorizado_hr {
    width: 50%;
    margin: 20px auto;
}

.nao_autorizado {
    font-size: 24px;
}

.nao_autorizado span {
    font-weight: bold;
}

.nao_autorizado span {
    color: red;
}       

.autorizado_voltar {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #c40008;
    text-decoration: none;
    border-radius: 5px;
    width: 50%;
}

.autorizado_voltar:hover {
    color: #000000;
    background-color: #FFF6C3;
    font-weight: bold;
}

.autorizado_voltar:focus,
.autorizado_voltar:active {
    color: #ffffff;
    background-color: #c40008;
}


@media screen and (max-width: 800px) {
    .nao_autorizado__principal {
        flex-direction: column-reverse;
    }
    .autorizado_img {
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .autorizado_img {
        width: 80%;
    }
    .autorizado_voltar {
        width: 60%;                
    }
}