body {
    background-image: url(../images/fundo.svg);
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px 5px;
}

.comerciante__caixa {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
    /* overflow: hidden; tudo que tiver fora da borda vai ficar escondido */
    overflow: hidden;
}

.comerciante__imagem {
    background-color: rgba(300, 200, 120, 0.6);
    background-size: cover;
    padding: 10px;
}

.comerciante_for {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    overflow-y: scroll;
}

.comerciante__imagem img {
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comerciante__titulo {
    margin-bottom: 8px;
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
    gap: 10px;
}

.comerciante__titulo h1 {
    font-size: 18px;
    width: 100%;
}

.comerciante__titulo h1:after {
    /* content: ''; colocar um traço em baixo da palavra cadastre-se */
    content: '';
    display: block;
    width: 10%;
    height: 8px;
    background-color: rgba(300, 200, 120, 0.6);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.comerciante__paragrafo {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    color: #000000c0;
    text-align: center;
}

.botao__sair {
    display: flex;
    align-items: center;
}

.botao__sair button {
    border: none;
    background-color: rgba(300, 200, 120, 0.6);
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
}

.botao__sair button:hover {
    background-color: #c40008;
    cursor: pointer;
}

.botao__sair button a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
}

.botao__sair button a:hover {
    color: #FFF;
}

.comerciante__formulario {
    padding: 0 20px;
}

.comerciante__input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 8px;
    width: 100%;
    position: relative;
}

.comerciante__input textarea {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.212);
    font-size: 14px;
    width: 100%;
}

.comerciante__input input {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.412);
    font-size: 14px;
    width: 100%;
}

.comerciante__input input:hover {
    outline: 1px solid #c40008;
}

.comerciante__input textarea:hover {
    outline: 1px solid #c40008;
}

.comerciante__input input:focus-visible {
    outline: none
}

.comerciante__input textarea:focus-visible {
    outline: none
}

.comerciante__input label {
    font-size: 14px;
    font-weight: 600;
    color: #000000c0;
    margin-bottom: 0px;
}

.botao__enviar {
    display: flex;
    justify-content: center;
}


.botao__enviar button {
    width: 60%;
    border: none;
    background-color: rgba(300, 200, 120, 0.6);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.botao__enviar button a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.botao__enviar button:hover {
    background-color: #c40008;
}

.botao__enviar a:hover {
    color: #fff;
}

.paragrafo__acessar {
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
    color: #000000c0;
    text-align: center;
}

.paragrafo__acessar a {
    color: #c40008;
    text-decoration: none;
    margin-left: 10px;
}

.comerciante__sobrenome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
}

.ul__dicas {
    font-size: 15px;
    color: #000000c0;
    padding-bottom: 10px;
    margin-top: 0;
    padding-top: 0;

}

.paragrafo__dicas {
    font-size: 16px;
    font-weight: 600;
    color: #c40008;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 30px;
    padding-left: 20px;
}


/* Começo Icone erro e sucesso */

.comerciante__input.sucesso input {
    border: 2px solid #4ECA64;

}

.comerciante__input.erro input {
    border: 2px solid #DB5A5A;
}

.comerciante__input.sucesso i.img__sucesso {
    visibility: visible;
}

.comerciante__input.erro i.img__erro {
    visibility: visible;
}


.comerciante__input.erro small {
    color: #DB5A5A;
    visibility: visible;
}

.comerciante__input i {
    position: absolute;
    top: 36px;
    right: 10px;
    visibility: hidden;
}

.comerciante__input small {
    position: absolute;
    visibility: hidden;
    margin-top: 65px;
    font-size: 14px;
    color: #DB5A5A;
    padding-left: 10px;

}

/* Fim Icone erro e sucesso */





@media screen and (min-width: 768px) {

    .comerciante__imagem img {
        width: 100%;
        /* background-color: #FFF6C3; */


    }


    .comerciante__caixa {
        display: flex;
        flex-direction: row;
    }

    .comerciante__imagem {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .comerciante__imagem img {
        width: 80%;
    }

    .comerciante_for {
        width: 75%;
    }

    .comerciante__sobrenome {
        flex-direction: row;
    }

    .comerciante__titulo h1 {
        font-size: 21px;
    }

    .comerciante__paragrafo {
        font-size: 15px;
    }

    .navegacao a {
        font-size: 16px;
    }

    .botao__sair button a {
        font-size: 15px;
    }

    .comerciante__input label {
        font-size: 15px;
    }

    .paragrafo__acessar {
        font-size: 15px;
    }
}


@media screen and (min-width: 990px) {

    .comerciante__caixa {
        display: flex;
        flex-direction: row;
        width: 75%;
    }

    .comerciante__imagem {
        width: 25%;
    }

    .comerciante_for {
        width: 75%;
    }

    .comerciante__titulo h1 {
        font-size: 22px;
    }

    .comerciante__titulo h1:after {
        width: 8%;
    }

    .comerciante__paragrafo {
        font-size: 16px;
    }

    .botao__sair button a {
        font-size: 16px;
    }

    .comerciante__input label {
        font-size: 16px;
    }

    .paragrafo__acessar {
        font-size: 16px;
    }

}