body{
    /* background-color: #FFF6C3;  */
    background-image: url(../images/comerciantes.png);
    background-size: cover; 
    /* background-color: rgba(300,200,120,0.6); */
    /* overflow: hidden; para tirar a barra de rolagem caso aparecer */
    /* overflow: hidden; */
   
 }
 
  main {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;          
  }
 
 .login__container{ 
     width: 100%;      
 } 
 
 .login{    
     background-color: white;     
     border-radius: 20px;     
     /* overflow: hidden; tudo que tiver fora da borda vai ficar escondido */
     overflow: hidden; 
     box-shadow:0px 0px 10px rgba(0, 0, 0, 0.212);  
     width: 100%;  
     height: 100vh;   
     overflow-y: scroll;    
 }
 
 .login__imagem{
     display: flex;   
     align-items: center;  
     /* justify-content: center; */
     flex-direction: column;        
     background-color: rgba(300,200,120,0.6);    
     padding-top: 30px;
     padding-right: 10px;
     padding-left: 10px;
    
    
 }
 
 .login__imagem a{
     margin-bottom: 30px;     
 }
 
 .login__lista{      
     display: flex;
     flex-direction: column;   
     gap:20px ;
     list-style: none;     
     padding: 0;   
     padding-right: 10px;  
     
 }
 
 .login__lista a{
     text-decoration: none; 
     font-size: 18px;
     font-weight:600 ;       
     color: #000000c0;
     /* text-align: center; */
     cursor: pointer;         
 }

 .login__lista a.active-link{
    background-color:#FFF6C3;
    padding: 10px;
    border-radius: 40px; 
 }

 .login__for__sobrenome{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    gap: 10px;
    margin: 0;
 }
 
 ul a:hover{    
     color:#c40008;    
 }
 
 .form__titulo {
     margin-bottom: 8px;
     margin-left: 10px;
     margin-top: 15px;
     margin-right: 10px;
     display: flex;
     justify-content: space-between;
     font-size: 13px;
     padding: 0 30px;   
     position: relative;         
 }
 
 .form__titulo h2:after {
     /* content: ''; colocar um traço em baixo da palavra cadastre-se */
     content: '';
     display: block;    
     width: 80px;
     height: 8px; 
     background-color:rgba(300,200,120,0.6);
     margin: 0 auto;
     position: absolute;
     border-radius: 10px; 
 }
 
 .form__paragrafo{
     font-size: 14px;
     font-weight:600 ;
     padding: 20px ;    
     color: #000000c0;
     text-align: center;    
 }
 
 .form__voltar {
     display: flex;
     align-items: center;    
 }
 
 .form__voltar button {
     border: none;
     background-color:rgba(300,200,120,0.6);   
     padding: 8px 15px;
     border-radius: 5px;
     cursor: pointer;
     color: #FFF;   
 }
 
 .form__voltar button:hover {
     background-color: #c40008;   
     cursor: pointer;
 }
 
 .form__voltar button a{
     text-decoration: none;    
     color: #000000;
     font-size: 14px;
     font-weight: 700;   
 }
 
 .form__voltar button a:hover{
     color: #FFF;      
 }
 
 .login__for{
     display: flex;
     flex-direction: column;
     padding: 10px 30px; 
     
 }
 
 .login__campos{
     display: flex;
     flex-direction: column;    
     gap: 10px;
     margin-bottom: 8px;  
     width: 100%;      
 }
 
 .login__campos input, textarea{
     margin-top: 0px;
     margin-bottom: 20px;
     padding: 8px 16px;
     border: none;
     border-radius: 10px;
     box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.212);
     font-size: 14px;  
     width: 100%;         
 }
 
 .login__campos input:hover{
     outline: 1px solid #c40008;
 }

 .login__campos textarea:hover{
    outline: 1px solid #c40008;
}
 
 .login__campos input:focus-visible {
     outline: none
 }

 .login__campos textarea:focus-visible {
    outline: none
}

/* CSS Para a foto do cadastrar comercio  */

input[type=file] {
    float: left;
    display: block;
}
.hide {
    display: none;
    float: left;
}

/* Fim  CSS Para a foto do cadastrar comercio  */
 
 .login__campos label, textarea{    
     font-size: 14px;
     font-weight: 600;
     color: #000000c0;
     margin-bottom: 0px;   
 }

 /* textarea{

 } */
 
 .login__entrar {
    display: flex;
    justify-content: center;
 }
 
 
 .login__entrar button{
     width: 60%; 
     border: none;
     background-color:rgba(300,200,120,0.6);     
     padding: 10px;
     border-radius: 5px;
     cursor: pointer;   
     margin-top: 15px;
     text-decoration: none;
     font-size: 16px;
     font-weight: 700;
     color:  #000000;
 }
 
 .login__entrar button a {
     text-decoration: none;
     font-size: 16px;
     font-weight: 700;
     color:  #000000; 
 }
 
 .login__entrar button:hover{
     background-color: #c40008;   
 }
 
 .login__entrar a:hover{    
     color: #fff;
 }

 .login__criar{
     font-size: 15px;
     font-weight:600 ;
     padding: 15px ;    
     color: #000000c0;
     text-align: center;
 }
 
 .login__criar a{
     color: #c40008;
     text-decoration: none;
     margin-left: 10px;
 }
 
 
 /* Para *   */
 .obrigatorio{
     color: #c40008;
 }

 /* Dicas Cadastrar Comércio */
 .dicas{
    font-size: 14px;            
     color: #000000c0;
     padding-bottom: 10px;
     
    

 }
 .dicasp{
    font-weight:600 ;
    color: #c40008;
    padding-bottom: 0;
    /* text-align: center; */
    margin-bottom: 0;
    margin-top: 30px;

 }


 
 @media screen and (max-width: 767px) {
 
     main{
         padding: 10px;
     }

     .login__for__sobrenome {         
        flex-direction: column

 }
 }
 
 
 @media screen and (min-width: 768px) {
 
     .login__container{
         margin-top:50px;
         margin-bottom:50px;
         
     }
     main{
         padding: 10px;
 
     }
 
     .login{
         width: 70%;        
         
     }      
    
     .login__imagem{
         float: left;         
         width: 30%;
         height: 100%;       
         
     }     
 
     .form__subtitulo h2:after {       
         width: 90px;
         height: 8px;        
               
     }
 
     .form__voltar button a, .form__paragrafo, .login__campos label{  
         font-size: 25px;              
     } 

     .login__for{        
        gap: 20px;  
    }

     
 
  }
 
 
  @media screen and (min-width: 992px){
 
     .login__container{
         margin-top:50px;
         margin-bottom:50px;
       }  
 
 
     
 
     .login__imagem{
         float: left;
         width: 30%;
         height: 100%; 
     }
     
     .form__titulo{        
         font-size: 18px;          
     }
 
     .form__subtitulo h2:after {       
         width: 100px;
         height: 8px;               
     }
 
     .form__voltar button a, .form__paragrafo, .login__campos label{      
         font-size: 17px;           
     }    

     
   
}
 