body {
    background-image: url(../images/fundo.svg);
    background-size: cover;
   
    

   
   
    
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    /* padding: 4% 1%;   */
     /* height: 100vh; */
   
    
     
    
    
}

.comerciante__caixa {
    /* display: flex;
    flex-direction: column; */
    /* width: 90%; */
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
    /* overflow: hidden; tudo que tiver fora da borda vai ficar escondido */
    overflow: hidden;    

}

.comerciante__imagem {
    display: flex;
    align-items: center;
    flex-direction: column; 
    background-color: rgba(300, 200, 120, 0.6);
    
    
    
}

.comerciante__imagem img {    
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    width: 200px;

}

.comerciante_for {
    /* display: flex;
    flex-direction: column; */
    background-color: #fff;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    overflow-y: scroll;
    
    

}

/* Navegação comerciantes */
.navegacao a {
    text-decoration: none;
    color: #000000c0;
}

.navegacao button {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
}

.navegacao .active-link {
    background-color: #FFF6C3;
    border: none;
    cursor: pointer;
}

.comerciante__titulo {
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

}

.comerciante__titulo h1 {
    font-size: 20px;
    width: 100%;
}

.comerciante__titulo h1:after {
    /* content: ''; colocar um traço em baixo da palavra cadastre-se */
    content: '';
    display: block;
    width: 70px;
    height: 8px;
    background-color: rgba(300, 200, 120, 0.6);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.comerciante__paragrafo {
    font-size: 14px;
    font-weight: 600;
    color: #000000c0;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

.botao__sair {
    display: flex;
    align-items: center;
}

.botao__sair button {
    border: none;
    background-color: rgba(300, 200, 120, 0.6);
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.412);

}

.botao__sair button a {
    text-decoration: none;
    color: #000000c0;
    font-size: 14px;
    font-weight: 700;
}

.botao__sair button:hover {
    background-color: #c40008;
}

.botao__sair button a:hover {
    color: #FFF;
}

.comerciante__formulario {
    padding: 0 20px;
}

.comerciante__input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 8px;
    width: 100%;
}

.comerciante__input textarea {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.212);
    font-size: 14px;
    width: 100%;
}

.comerciante__input input {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.212);
    font-size: 14px;
    width: 100%;
}

.comerciante__input input:hover {
    outline: 1px solid #c40008;
}

.comerciante__input textarea:hover {
    outline: 1px solid #c40008;
}

.comerciante__input input:focus-visible {
    outline: none
}

.comerciante__input textarea:focus-visible {
    outline: none
}

.comerciante__input label {
    font-size: 14px;
    font-weight: 600;
    color: #000000c0;
    margin-bottom: 0px;
}

.botao__enviar {
    display: flex;
    justify-content: center;
}


.botao__enviar button {
    width: 60%;
    border: none;
    background-color: rgba(300, 200, 120, 0.6);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #000000c0;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.412);
    margin-bottom: 50px;
}

.botao__enviar button:hover {
    background-color: #c40008;
    color: #FFF;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.412);
}


.paragrafo__acessar {
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
    color: #000000c0;
    text-align: center;
}

.paragrafo__acessar a {
    color: #c40008;
    text-decoration: none;
    margin-left: 10px;
}

.comerciante__sobrenome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
}

.ul__dicas {
    font-size: 15px;
    color: #000000c0;
    padding-bottom: 10px;
    margin-top: 0;
    padding-top: 0;
}

.paragrafo__dicas {
    font-size: 16px;
    font-weight: 600;
    color: #c40008;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 30px;
    padding-left: 20px;
    margin: 0;
}

/* CSS Para a foto do cadastrar comercio  */

#foto {
    display: none;
}

.foto__margem {
    margin-bottom: 25px;
}

.comerciante__foto {
    width: 200px;
    /* aspect-ratio: 16/9; */
    aspect-ratio: 9/9;
    background: rgba(300, 200, 120, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000c0;
    border: 2px dashed currentcolor;
    cursor: pointer;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
    margin: auto;
    font-size: 14px;
    font-weight: bold;

}

.comerciante__foto:hover {
    color: #777;
    background: #ccc;
}

.comerciante__foto:active {
    border-color: #fff;
    color: #fff;
}

.comerciante__foto:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.comerciante__foto__img {
    max-width: 100%;
}

/* Fim  CSS Para a foto do cadastrar comercio  */



@media screen and (min-width: 768px) {

    .comerciante__caixa {
        display: flex;
        flex-direction: row;
    }

    .comerciante__imagem {
        width: 25%;
    }

    .comerciante_for {
        width: 75%;
    }

    .comerciante__sobrenome {
        flex-direction: row;
    }

    .comerciante__titulo h1 {
        font-size: 21px;
    }

    .comerciante__paragrafo {
        font-size: 15px;
    }

    .navegacao a {
        font-size: 16px;
    }

    .botao__sair button a {
        font-size: 15px;
    }

    .comerciante__input label {
        font-size: 15px;
    }

    .paragrafo__acessar {
        font-size: 15px;
    }
}


@media screen and (min-width: 990px) {

    .comerciante__caixa {
        display: flex;
        flex-direction: row;
        width: 75%;
    }

    .comerciante__imagem {
        width: 25%;
    }

    .comerciante_for {
        width: 75%;
    }

    .comerciante__titulo h1 {
        font-size: 22px;
    }

    .comerciante__paragrafo {
        font-size: 16px;
    }

    .botao__sair button a {
        font-size: 16px;
    }

    .comerciante__input label {
        font-size: 16px;
    }

    .paragrafo__acessar {
        font-size: 16px;
    }

}