* {
    box-sizing: border-box;
} 

 html {
    font-size: 20px;
} 

.header h2 {
    background-color: #FFF6C3;
}
main {
    background-image: url(../images/fundo.svg);     
    background-size: cover;
}

.descricao{   
    font-size: 1.2rem;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.descricao__dois{
    font-size: 1.2rem;
    padding-top: 0px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.descricao__dois a{
    text-decoration: none;
    color: #c40008;
    font-weight: 600;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem; 
    row-gap: 5vw;  
    
}

.cards-img{
    width:auto;
    object-fit: cover;           
}

.cards {
    border-radius: 10px 10px 0 0;
    margin:auto; 
    background-color: #FFF;
    display: flex;
    flex-direction: column;     
    font-size: 1rem;
    width: 17vw; 
    height: 100%;    
}



.cards__conteudo{
    height: 100%;
}

.cards h3 {
    color: #c40008;      
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 10px;            
}

.cards p {    
    font-size: 0.9rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0; 
    height: 100%;    
}

.cards a {
    width: 40px;
    margin-top: 5px;
    padding: 5px;
    align-self: flex-end;    
}

.cards a:hover {
    transform: scale(1.1);
} 

@media screen and (max-width: 1300px) {
    .cards {
        width: 25vw;        
    }   
}


@media screen and (max-width: 769px) {
    header h2 {
        background-color: #FFF3Ad;
    }
    .container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 8vw;
    }
    .cards {
        width: 40vw;        
    }
    .cards a{
        width: 30px;

    }
}
@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        row-gap: 10vw;
    }
    .cards {
        width: 60vw;             
    }
}


