body{
    background-image: url(../images/fundo-login.svg);
    background-size: cover;
    /* background-repeat: no-repeat;     */
    overflow: hidden;
}

.login__container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px; 

    
}

.login__caixa{
    display: flex;   
    background-color: #ffffffa8;
    padding: 15px;
    border-radius: 4%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212); 
    margin: auto;
    border: 3px solid #FFF6C3;
    
}

.comerciante__formulario{   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
} 

.login__img {
    margin: auto;
    width: 50%;
    padding-bottom: 20px;
    color: #c40008;
}
 
.login__input{
    display: flex;
    flex-direction: column;    
    gap: 2px;   
    width: 100%;   
}

.login__input input{
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.212);
    font-size: 14px;  
    width: 100%;         
}

.login__input input:hover{
    outline: 1px solid #000000c0;
}



.login__input input:focus-visible {
    outline: none
}

.login__input textarea:focus-visible {
   outline: none
}

.login__input label{    
    font-size: 14px;
    font-weight: 600;
    color: #000000c0;
    margin-bottom: 0px;   
}


.botao__enviar {
    display: flex;
    justify-content: center;
 }
 
 
 .botao__enviar button{
     width: 100%; 
     border: none;
     background-color:#c40008;     
     padding: 10px;
     border-radius: 10px;
     cursor: pointer;   
     margin-top: 15px;
     text-decoration: none;
     font-size: 16px;
     font-weight: 700;
     color:  #fff;
 }
 
 .botao__enviar button a {
     text-decoration: none;
     font-size: 16px;
     font-weight: 700;
     color:  #000000; 
 }
 
 .botao__enviar button:hover{
     background-color: #c40008;   
 }
 
 .botao__enviar a:hover{    
     color: #fff;
 }


 .login__criar{
    font-size: 15px;
    font-weight:600 ;
    padding: 15px ;    
    color: #000000c0;
    text-align: center;
    
}

.login__criar a{
    color: #c40008;
    text-decoration: none;
    /* margin-left: 10px; */
    margin-bottom: 100px;
}


@media screen and (max-width: 1150px){
    body{
        background-image: url(../images/fundo.svg);
        background-size: cover;
}
}