/* css menu começo */
.camada {
    display: flex;
    flex-direction: column;
    background-color: #F4EBD0;     
    top: 0;
    position: sticky;
    z-index: 10;
    padding: 20px 5px;
    width: 100%;   
}

ul {
    display: flex;
    list-style: none;
    display: none;
}

nav h3 {
    margin: 0;
    padding: 0;
}


nav a {
    display: flex;
    color: #c40008;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;

}

.logo__principal__menu {
    display: none;
}

.icone__menu {
    display: none;

}

nav a:hover,
nav a:focus {
    color: #000000c0;
}

.menu-aberto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    gap: 10px;
}

.menu-aberto a {
    font-size: 16px;
}

/* Pesquisa */
.pesquisa__lupa {
    background-color: transparent;
    display: flex;
    border: 3px solid #c40008;
    height: 35px;
    border-radius: 50px;
    align-items: center;
    outline: none;
    margin: auto;
}

.pesquisa__lupa:hover {
    border: 3px solid #000000c0;       
}

.pesquisa__input {
    border: none;
    border-radius: 50px;
    background-color: transparent;       
    outline: none;
    padding: 0;
    line-height: 30px;
    width: 100%;
    padding-left: 10px;
    color: #000000c0;
    font-size: 18px;
}

.pesquisa__link {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: #c40008;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa__link:hover{
    transform: scale(1.05);     
    transition: 0,5s;
    
}   

/* Estilos para os botões do menu*/
.botao_menu_criar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.botao__enviar__menu {
    display: inline-block;
    margin: 0 10px;
}

.botao__enviar__menu button {
    border: 2px solid #c40008;
    padding: 8px 20px;
    background-color: transparent; 
    color: #000000c0;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
}

.botao__enviar__menu button:hover {
    background-color: #c40008;
    color: #FFFFFF;
}

.menu_criar{      
    white-space: nowrap;
    font-size: 16px; 
    color: #c40008;
    

}

.menu_criar:hover{
    padding: 8px;
    background-color: #c40008;
    border-radius: 50px;
    color: #FFFFFF;

}


.botao__enviar__menu__minha button {
    white-space: nowrap;
    border: 2px solid #c40008;
    padding: 8px 20px;
    /* background-color: transparent;  */
    background-color: #c40008;
    /* color: #000000c0; */
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
}

.botao__enviar__menu__minha button:hover {
    background-color: transparent;  
    color: #000000c0; 
}





/*   @media screen do menu */
@media screen and (min-width: 769px) {

    nav h3 {
        display: none;
    }

    .pesquisa__espaco {
        width: 70%;
    }

    .camada__um {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;
    }

    .menu__camada__dois {
        margin: auto;
        width: 90%;        
        margin-top: 15px;

    }

    .logo__principal__menu {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
    }

    .login__ul {
        display: none;
    }

    .icone__menu {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28%
    }

    .pesquisa__lupa {
        width: 90%;

    }
    

    

    

   
}

@media screen and (max-width: 769px) {

    .camada {
        flex-direction: column-reverse;
    }


    .pesquisa__lupa {
        width: 80%;
        margin-top: 15px;

    }

    nav a {
        font-size: 1rem;
        padding: 2px 8px;
    }

    .botao__enviar__menu{
        display: none;
        
    }

    .gerenciar{
        display: flex;
        align-items: center;
        justify-content: center;       
        margin-top: 10px;        
        
    }
   
    
    .botao__minha__conta{   
        margin-top: 10px;   
        margin-left: 10px;        
        font-size: 16px;
        padding: 0;
    }
    .icone__menu__login {
        font-size: 16px;
        display: flex;
        justify-content: center;
       
    }

    .botao__enviar__menu__minha {       
        display: flex;
        justify-content: center;        
        margin-top: 10px;  
    }

    .botao__enviar__menu__minha button {       
        padding: 7px 12px;        
        background-color: #c40008;   
       
    }

     
    
}

/* css menu fim */

